@import "tailwindcss";

@theme{
 
  --color-white: rgba(255, 255, 255, 1);
  --color-white-bg:rgb(240, 243, 248);
  --color-text-gray: rgba(102, 102, 102, 1);
  --color-black:rgba(34, 34, 34, 1);
  --color-blue:rgb(51, 102, 246);
  --color-border2:rgb(214, 218, 226);
 --color-orange:rgb(240, 98, 37);

}


.pricing header button{
    @apply text-[14px] font-[500] px-8 py-4 rounded-[50px]
}

.pricing .div1{
    @apply max-w-[580px] w-full min-h-[532] bg-white rounded-[10px] py-8 px-12
}

.pricing .button1{
@apply hover:text-[black] bg-[black] hover:bg-blue ease-in duration-300 text-[14px] font-[500] text-white w-full py-[18px]  rounded-[50px] cursor-pointer
}
.pricing .button2{
@apply hover:text-white bg-[blue] hover:bg-black ease-in duration-300 text-[14px] font-[500] text-white w-full py-[18px]  rounded-[50px] cursor-pointer
}
.div1 h4,p{
    @apply flex text-[16px]! font-[400]! gap-4 
}
.div1 h4{
    @apply text-[1.5rem]!
}

/* .div1 h4 */